<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='', title='복덕복덕 : Review'">


<head>
    <meta charset="UTF-8">
    <!-- tagify css/js 적용 -->
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>

    <style>
.container{
width:2000px
}

    .star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
  }

  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  .star span {
    width: 0;
    position: absolute;
    left: 0;
    color: #FFC108;
    overflow: hidden;
    pointer-events: none;
  }

.filebox label {
  display: inline-block;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #26BAD4;
  cursor: pointer;
  border: 1px solid #26BAD4;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;

width:45px;
height:45px;
text-align: center;
}

.filebox label:hover {
  background-color: #2BD2F0;
}

.filebox label:active {
  background-color: #2BD2F0;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.submitbtn{

  width:100px;

    background-color: #26BAD4;

    border: none;

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;

}
.submitbtn input[type="submit"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.reviewComment label{
font-size : 12pt;
text-align : right;
}

 .table-head{
 font-weight : 900;
  }



}



    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container" style="width : 140">

        <script>
function check() {

  if(!reviewForm.title.value) {
    alert("제목을 작성해 주세요");
    reviewForm.title.focus();
    return false;
  }

    if(!reviewForm.reviewComment.value) {
    alert("리뷰를 작성해 주세요");
    reviewForm.reviewComment.focus();
    return false;
  }

  if(!reviewForm.shortComment.value) {
    alert("한줄평을 작성해 주세요");
    reviewForm.shortComment.focus();
    return false;
  }
  if(!reviewForm.postcode.value) {
    alert("주소를 입력해 주세요");
    reviewForm.addressBtn.focus();
    return false;
  }

  if(!reviewForm.roomSize.value) {
    alert("방형태는 필수 선택 사항 입니다.");
    return false;
  }
    if(!reviewForm.structure.value) {
    alert("주거 형태는 필수 선택 사항 입니다.");
    return false;
  }
    if(!reviewForm.payment.value) {
    alert("계약형식은 필수 선택 사항 입니다.");
    return false;
  }
  if(!reviewForm.detailAddress.value){
  alert("상세주소를 입력해 주세요.");
  reviewForm.detailAddress.focus();
    return false;
  }
  if(!reviewForm.pdf.value){
  alert("계약서 인증은 필수입니다");
  return false;
}



  }


        </script>
        <form commandName="WriteReviewVO" action="/review/write" method="post" id="reviewForm"
              enctype="multipart/form-data">


            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" name="title" placeholder="제목"
                       style="border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:1px; font-size:20px">
            </div>

            <hr class="col-12 my-4">

            <table class="table table-borderless" style="width: 50%; height:70%;">
                <tr style="width : 20%">
                    <td class="table-head">이미지</td>
                    <td style="width : 10%">|</td>
                    <td>
                        <div id='image_preview'>
                          <!--  <label for="pdf"><a style="font-size : 35.0px; position:relative; left:0px; top:-7px">+</a></label>-->
                            <input type='file' id='file' name="image" multiple='multiple'/></div>

                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id='att_zone'
                             data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'></div>
                    </td>
                </tr>
            </table>


            <script>
(
 /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
  imageView = function imageView(att_zone, btn){
    var attZone = document.getElementById(att_zone);
    var file = document.getElementById(btn)
    var sel_files = [];
    // 이미지와 체크 박스를 감싸고 있는 div 속성
    var div_style = 'display:inline-block;position:relative;'
                  + 'width:150px;height:120px;margin:5px;border:1px solid #00f;z-index:1';
    // 미리보기 이미지 속성
    var img_style = 'width:100%;height:100%;z-index:none';
    // 이미지안에 표시되는 체크박스의 속성
    var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;'
                  + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';
    file.onchange = function(e){
      var files = e.target.files;
      var fileArr = Array.prototype.slice.call(files)
      for(f of fileArr){
        imageLoader(f);
      }
    }
    // 탐색기에서 드래그앤 드롭 사용
    attZone.addEventListener('dragenter', function(e){
      e.preventDefault();
      e.stopPropagation();
    }, false)
    attZone.addEventListener('dragover', function(e){
      e.preventDefault();
      e.stopPropagation();
    }, false)
    attZone.addEventListener('drop', function(e){
      var files = {};
      e.preventDefault();
      e.stopPropagation();
      var dt = e.dataTransfer;
      files = dt.files;
      for(f of files){
        imageLoader(f);
      }
    }, false)
    /*첨부된 이미리즐을 배열에 넣고 미리보기 */
    imageLoader = function(file){
      sel_files.push(file);
      var reader = new FileReader();
      reader.onload = function(ee){
        let img = document.createElement('img')
        img.setAttribute('style', img_style)
        img.src = ee.target.result;
        attZone.appendChild(makeDiv(img, file));
      }
      reader.readAsDataURL(file);
    }
    /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
    makeDiv = function(img, file){
      var div = document.createElement('div')
      div.setAttribute('style', div_style)
      var btn = document.createElement('input')
      btn.setAttribute('type', 'button')
      btn.setAttribute('value', 'x')
      btn.setAttribute('delFile', file.name);
      btn.setAttribute('style', chk_style);
      btn.onclick = function(ev){
        var ele = ev.srcElement;
        var delFile = ele.getAttribute('delFile');
        for(var i=0 ;i<sel_files.length; i++){
          if(delFile== sel_files[i].name){
            sel_files.splice(i, 1);
          }
        }
        dt = new DataTransfer();
        for(f in sel_files) {
          var file = sel_files[f];
          dt.items.add(file);
        }
        file.files = dt.files;
        var p = ele.parentNode;
        attZone.removeChild(p)
      }
      div.appendChild(img)
      div.appendChild(btn)
      return div
    }
  }
)('att_zone', 'file')




            </script>

            </br>


            <table class="table table-borderless">
                <tr>
                    <td class="table-head">주소</td>
                    <td>|</td>
                    <td><input class="form-control input-sm" type="text" name="postCode" id="postcode" value=""
                               placeholder="우편번호" readonly></td>
                    <td><input class="form-control input-sm" type="button" onclick="execDaumPostcode()" id="addressBtn"
                               value="우편번호 찾기"><br></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"><input class="form-control input-sm" type="text" name="address" id="address"
                                           placeholder="주소" readonly><br></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"><input class="form-control input-sm" type="text" name="detailAddress" value=""
                                           id="detailAddress" placeholder="상세주소"></td>
                </tr>
            </table>
            <input type="hidden" name="extraAddress" value="" id="extraAddress" placeholder="참고항목" readonly>
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>


            <script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
            contentType: 'application/json'
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }

                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }

                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("detailAddress").focus();


                document.getElementById("address").setAttribute('value',addr);
            }

        }).open();


    }



            </script>
            <br>

            <hr class="col-12 my-4">


            <table class="table table-borderless"
                   style="border-collapse:collapse; width: 60%; height:70%; table-layout: fixed;">
                <tbody>
                <tr>
                    <th class="table-head" scope="row" style="font">방형태</th>
                    <td style="width : 10%">|</td>
                    <div class="checkbox">
                        <td><input type="radio" name="roomSize" value="oneRoom">원룸</td>
                        <td><input type="radio" name="roomSize" value="twoRoom">투룸</td>
                        <td><input type="radio" name="roomSize" value="threeRoom">쓰리룸</td>
                    </div>
                </tr>

                <tr>
                    <th class="table-head" scope="row">주거 형태</th>
                    <td>|</td>
                    <div class="checkbox">
                        <td><input type="radio" name="structure" value="villa">빌라</td>
                        <td><input type="radio" name="structure" value="office">오피스텔</td>
                        <td><input type="radio" name="structure" value="apart">아파트</td>
                    </div>
                </tr>
                <tr>
                    <th class="table-head" scope="row">계약형식</th>
                    <td style="width : 10%">|</td>
                    <td><input type="radio" name="payment" value="monthly">월세</td>
                    <td><input type="radio" name="payment" value="charter">전세</td>
                    <td><input type="radio" name="payment" value="halfCharter">반전세</td>
                    <td><input type="radio" name="payment" value="dealing">매매</td>
                </tr>

                <tr>
                    <th class="table-head" scope="row">교통편</th>
                    <td style="width : 10%">|</td>
                    <td><input type="checkbox" name="traffic" value="SUBWAY">지하철</td>
                    <td><input type="checkbox" name="traffic" value="BUS">버스</td>
                </tr>

                <tr>
                    <th class="table-head" scope="row">옵션</th>
                    <td style="width : 10%">|</td>
                    <td><input type="checkbox" name="electronicDevice" value="BED">침대</td>
                    <td><input type="checkbox" name="electronicDevice" value="AIRCONDITIONER ">에어컨</td>
                    <td><input type="checkbox" name="electronicDevice" value="WASHINGMACHINE ">세탁기</td>
                    <td><input type="checkbox" name="electronicDevice" value="REFRIGERATOR">냉장고</td>
                </tr>


                <tr>
                    <th class="table-head" scope="row">건물 시설</th>
                    <td style="width : 10%">|</td>
                    <td><input type="checkbox" name="welfare" value="PARKING">주차장</td>
                    <td><input type="checkbox" name="welfare" value="DELIVERYBOX">무인택배함</td>
                    <td><input type="checkbox" name="welfare" value="CCTV">cctv</td>
                </tr>
                <tr>
                    <th class="table-head" scope="row">편의 시설</th>
                    <td style="width : 10%">|</td>
                    <td><input type="checkbox" name="convenient" value="STORE">편의점</td>
                    <td><input type="checkbox" name="convenient" value="HOSPITAL">병원</td>
                    <td><input type="checkbox" name="convenient" value="COINLAUNDER">코인세탁소</td>
                </tr>

                </tbody>
            </table>

            <hr class="col-12 my-4">

            <label for="reviewComment"> </label>
            <div class="table-head">리뷰</div>
            <label for="reviewComment"></label>

            <input type="text" class="form-control" name="reviewComment" id="reviewComment"
                   placeholder="자유롭게 리뷰 해보세요!"
                   style="height:400px; font-size : 30px; text-align:left;">

            <input type="text" name="tags" placeholder="태그를 입력하세요">

            <hr class="col-12 my-4">
            <table class="table table-borderless" style="width: 50%; height:70%;">
                <tbody>
                <tr>
                    <td class="table-head">별점</td>
                    <td>|</td>
                    <td><span class="star">
                              ★★★★★
                         <span>★★★★★</span>
                        <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10" name="stars">
                            </span></td>
                </tr>
                <tr>
                    <td class="table-head">한줄평</td>
                    <td>|</td>
                    <td><input type="text" class="form-control" name="shortComment"></td>
                </tr>
                </tbody>
            </table>

            <hr class="col-12 my-4">

            <table class="table table-borderless" style="width: 50%; height:70%;">
                <tr style="width : 20%">
                    <td class="table-head">계약서 인증</td>
                    <td>|</td>
                    <td>
                        <div class="filebox">
                            <label for="pdf"><a style="font-size : 35.0px; position:relative; left:0px; top:-7px">+</a></label>
                            <input type='file' id='pdf' name="pdf" multiple='multiple'
                                   accept="application/pdf,image/jpeg, image/png">
                        </div>
                    </td>
                    <td><a name="uploaded" value=""></a></td>
                </tr>
            </table>

            <script>
                    if(document.getElementById("pdf").files.length == 1){
                        document.uploaded.value = '파일 확인!';
                    }
            </script>

            <script>
                var input = document.querySelector('input[name=tags]');
                new Tagify(input)
            </script>

            <script>
            const drawStar = (target) => {
              document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
            }
            </script>
            <div class="submitbtn">
                <label for="submitbtn">게시글 올리기</label>
                <input type="submit" name="submit button" id="submitbtn" onclick="return check()">
            </div>

        </form>

    </div>
</div>
</body>
</html>