<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment(activeTab)">
    <header>
        <!-- 네비게이션 바 -->
        <nav class="navbar navbar-expand-sm">

            <div class="navbar-collapse collapse justify-content-between" id="navbarSupportedContent">
                <a class="navbar-brand logo-a" href="/" th:href="@{/}">복덕복덕</a>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${activeTab == 'review'} ? active" sec:authorize="!isAuthenticated()">
                        <a class="nav-link nav-a" th:href="@{/review/list}">리뷰</a>
                    </li>
                    <li class="nav-item"><a class="nav-link nav-a" th:href="@{/community/list}"
                                            th:classappend="${activeTab == 'signup'} ? active">커뮤니티</a></li>
                    <li class="nav-item" th:classappend="${activeTab == 'items'} ? active">
                        <a class="nav-link nav-a" th:href="@{/}">문의사항</a>
                    </li>

                        <li class="nav-item">
                            <a class="nav-link nav-a" th:href="@{/login}">로그인</a>
                        </li>
                        <li class="nav-item"><a class="nav-link nav-a" th:href="@{/signup}">회원가입</a></li>




                </ul>
            </div>
        </nav>

    </header>
</th:block>


<!-- 푸터 -->
<th:block th:fragment="footerFragment">
    <footer class="jumbotron jumbotron-fluid text-center banner" style="margin-bottom:0; background-color:#eeeeee">



        <p class="footer-menu-items footer-menu-items-1">INFO</p>
        <p class="footer-menu-items footer-menu-items-1">SUPPORT</p>
        <p class="footer-menu-items footer-menu-items-1">CONNECTION</p>

        <br/>

        <p class="footer-menu-items footer-menu-items-2">이용약관</p>
        <p class="footer-menu-items footer-menu-items-2">&nbsp;&nbsp;|&nbsp;&nbsp;</p>
        <p class="footer-menu-items footer-menu-items-2">개인정보취급방침</p>

        <p class="footer-menu-items footer-menu-items-3">&copy;Mega IT 4th Team1</p>
    </footer>
</th:block>

</html>