<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='복덕복덕 : 비밀번호찾기'">

<head>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <main>
            <form class="justify-content-center" method="post" th:action="@{/password}">

                <div class="container" th:if="${message} == null" style="height: 700px; display: table;">
                    <div style="display: table-cell; vertical-align: middle;">

                        <div class="py-5 text-center" style="text-align: center">
                            <h2>임시 비밀번호 메일 전송</h2>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-20">
                                <label class="form-label"> 가입시 작성했던 이메일을 입력해주세요</label><br>
                                <input type="email" class="form-control" name="username" id="username"
                                       style="text-align: center">
                            </div>
                        </div>


                        <div class="row justify-content-center py-3">
                            <button type="submit" class="btn btn-info">찾기</button>
                        </div>


                    </div>
                </div>

                <div class="container" th:if="${message} != null" style="height: 700px; display: table;">
                    <div style="display: table-cell; vertical-align: middle;">

                        <div class="py-5 text-center" style="text-align: center">
                            <h2>임시 비밀번호 메일 전송</h2>
                        </div>

                        <div class="row justify-content-center">
                            <p th:text="${message}"></p>
                        </div>

                        <hr class="col-12 my-4">
                        <div class="row justify-content-center py-3">
                            <a class="btn btn-info" th:href="@{/login}">로그인</a>
                        </div>

                    </div>
                </div>


            </form>

        </main>
    </div>
</div>

</body>
</html>