<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='복덕복덕 : 비밀번호찾기'">

<head>
</head>
<body>
<div layout:fragment="content">
    <h1>비밀번호 찾기</h1>
    <hr>
    <h2>비밀번호를 찾고자 하는 아이디를 입력해주세요</h2>
    <form th:action="@{/password}" method="post">

        이메일을 입력하세요 : <input type="email" name="username" id="username"><br/>
        <button type="submit" id="password" >제출</button><br/>
        <h4 th:text="${message}"></h4><br/>
        아이디 기억나지 않으세요? <a href="#" th:href="@{/}">아이디 찾기 </a>

    </form>
</div>
</body>

</body>
</html>