<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="activeTab='items', title='복덕복덕 : 비밀번호변경'">

<head>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#button').click(function () {
                let oldpass = $('#oldpass').val();
                let pass = $('#pass').val();
                let repass = $('#repass').val();
                $.ajax({
                    type: 'GET',
                    async: false,
                    url: '/password/change/result',
                    data: {
                        "oldpass": oldpass,
                        "pass": pass,
                        "repass": repass
                    },
                    dataType: 'json',
                    success: function (result) {
                        alert(result.message);

                    }
                });

            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>비밀번호 변경</h2>
                <p class="lead">현재 비밀번호와 변경할 새로운 비밀번호를 입력해주세요.</p>
            </div>


            <div class="row justify-content-center">
                <form>
                    <div class="row">
                        <label class="form-label">현재 비밀번호</label>
                        <input type="password" th:id="oldpass" th:class="form-control">
                    </div>
                    <br>


                    <div class="row">

                        <label class="form-label">새로운 비밀번호</label>
                        <input type="password" th:id="pass" th:class="form-control">
                    </div>
                    <br>


                    <div class="row">

                        <label class="form-label">새로운 비밀번호 확인</label>
                        <input type="password" th:id="repass" th:class="form-control">

                    </div>
                    <hr class="col-12 my-4">
                    <div class="row g-2 justify-content-center">
                        <button class="w-50 btn btn-lg btn-info" type="submit" th:id="button">변경</button>
                    </div>
                    <br>
                    <br>


                </form>
            </div>

        </main>
    </div>
</div>
</body>
</html>