<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="title='복덕복덕'">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div style="padding-top:250px;padding-bottom:250px;padding-left:30px;">메인 페이지(임시)</div>
    <a href="/google" role="button">구글</a>
    <a href="/oauth2/google" role="button">네이버</a>
    <a href="/oauth2/authorization/google" role="button">카카오</a>
</div>
</body>
</html>