<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}" th:with="title='복덕복덕'">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
            function changeDisp() {

                console.log('함수 호출됨.');

                var con = document.getElementById('ddd-content');

                if (con.style.display == 'none') {
                    con.style.display = 'block';
                } else {
                    con.style.display = 'none';
                }

                console.log('함수 실행완료됨.');
            }
    </script>

    <style>
        .title-a { color:black; }
        .title-a:hover { color:#26BAD4; }
        .title-a:visited { color:black; }
    </style>
</head>
<body>


<div layout:fragment="content">
    <!-- 메인 이미지 -->
    <div style="max-height:550px; overflow:hidden">
        <img width="100%" style="margin-top:-25%;" src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1080&q=80">
    </div>

    <!-- 검색창 -->
    <form method="get" th:action="@{/review/search}">

        <!-- 창 -->
        <div class="input-group" style="position:absolute; top:400px; left:30%; width:40%;">
            <input id="searchText" name="searchText" type="text" class="form-control" placeholder="태그 및 키워드 검색" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-info" style="background-color:white; color:black" onclick="javascript:changeDisp();" type="button">옵션</button>
                <button id="check_option" class="btn btn-info" type="submit">검색</button>
            </div>
        </div>

        <!-- 드롭다운 옵션 -->
        <table id="ddd-content" style="display:none; position:absolute; top:440px; left:30%; background-color:white" frame="box">
            <tr>
                <td width="100px">
                    <span>지역</span>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id = "address"
                           name="address" placeholder="동을 입력하세요. (예) 연희동"
                           th:value="${param.address}">
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>방 형태</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="r1" name="roomSize" value="ONEROOM"
                    />
                    <label for="r1"> 원룸 </label>

                    <input type="checkbox" id="r2" name="roomSize" value="TWOROOM"
                    />
                    <label for="r2"> 투룸 </label>

                    <input type="checkbox" id="r3" name="roomSize" value="THREEMORE"
                    />
                    <label for="r3"> 쓰리룸이상 </label>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>주거 형태</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="st1" name="structure" value="VILLA" />
                    <label for="st1"> 빌라 </label>

                    <input type="checkbox" id="st2" name="structure" value="OFFICE" />
                    <label for="st2"> 오피스텔 </label>

                    <input type="checkbox" id="st3" name="structure" value="APART" />
                    <label for="st3"> 아파트 </label>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>계약 형태</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="p1" name="payment" value="MONTHLY" />
                    <label for="p1"> 월세 </label>

                    <input type="checkbox" id="p2" name="payment" value="HALFCHARTER" />
                    <label for="p2"> 반전세 </label>

                    <input type="checkbox" id="p3" name="payment" value="CHARTER" />
                    <label for="p3"> 전세 </label>

                    <input type="checkbox" id="p4" name="payment" value="DEALING" />
                    <label for="p4"> 매매 </label>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>교통편의</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="t1" name="traffic" value="BUS" />
                    <label for="t1"> 버스 </label>

                    <input type="checkbox" id="t2" name="traffic" value="SUBWAY" />
                    <label for="t2"> 지하철 </label>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>가구 옵션</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="e1" name="electronicDevice" value="BED" />
                    <label for="e1"> 침대 </label>

                    <input type="checkbox" id="e2" name="electronicDevice" value="AIRCONDITIONER" />
                    <label for="e2"> 에어컨 </label>

                    <input type="checkbox" id="e3" name="electronicDevice" value="WASHINGMACHINE" />
                    <label for="e3"> 세탁기 </label>

                    <input type="checkbox" id="e4" name="electronicDevice" value="REFRIGERATOR" />
                    <label for="e4"> 냉장고 </label>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>건물 시설</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="w1" name="welfare" value="PARKING" />
                    <label for="w1"> 주차장 </label>

                    <input type="checkbox" id="w2" name="welfare" value="DELIVERYBOX" />
                    <label for="w2"> 무인택배함 </label>

                    <input type="checkbox" id="w3" name="welfare" value="CCTV" />
                    <label for="w3"> CCTV </label>
                </td>
            </tr>
            <tr>
                <td width="100px">
                    <span>편의 시설</span>
                </td>
                <td width="300px">
                    <input type="checkbox" id="c1" name="convenient" value="STORE" />
                    <label for="c1"> 편의점 </label>

                    <input type="checkbox" id="c2" name="convenient" value="HOSPITAL" />
                    <label for="c2"> 병원 </label>

                    <input type="checkbox" id="c3" name="convenient" value="COINLAUNDRY" />
                    <label for="c3"> 코인빨래방 </label>
                </td>
            </tr>
        </table>
    </form>

    <!-- 리뷰글 슬라이드 부분 -->
    <h3 style="margin-top:50px; margin-left:75px">인기 리뷰글입니다</h3>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="d-block w-100 text-center" style="padding:50px">
                    <th:block th:each="review : ${reviewList1}" th:object="${review}">
                        <div class="text-left" width="300px" style="margin:25px; display:inline-block">
                            <!-- 썸네일 이미지 -->
                            <div th:if="*{#lists.isEmpty(uploadImage)}">
                                <img width="300px" height="240px" th:src="@{/images/no_image.png}"/>
                            </div>
                            <div th:unless="*{#lists.isEmpty(uploadImage)}">
                                <img width="300px" height="240px" th:src="@{${review.uploadImage[0].imagePath}}"/>
                            </div>

                            <p style="margin:0; padding:0; width: 300px">
                                <!-- 제목 -->
                                <a class="title-a" th:text="${review.postName}" href="#" style="font-size:24px; display:inline-block; margin:0; padding:0; width: 180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></a>

                                <!-- 별점 -->
                                <span th:if="${review.star} == 5" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                </span>
                                <span th:if="${review.star} == 0" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                </span>
                                <span th:if="${review.star < 5 && review.star > 0}" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <th:block th:each="num : ${#numbers.sequence(1,review.star)}">
                                        <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    </th:block>
                                    <th:block th:each="num : ${#numbers.sequence(1, 5-review.star)}">
                                        <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    </th:block>
                                </span>
                            </p>

                            <!-- 주소 -->
                            <p style="margin:0; padding:0">
                                <span th:text="${review.address}" style="font-size:16px; color:#808080; margin:0; padding:0; display:block; width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></span>
                            </p>

                            <!-- 한줄평 -->
                            <p th:text="${review.comment}" style="font-size:18px; display:block; width: 300px; margin-top:5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>

                            <!-- 태그 -->
                            <p style="font-size:14px; width:300px; display:block; white-space: nowrap; overflow: hidden;">
                                <th:block th:each="tag : ${review.tags}">
                                    <span th:text="${tag.tagName}" style="padding:4px; border-radius:6px; background-color:#E2E2E2"></span>&nbsp;
                                </th:block>
                            </p>
                        </div>
                    </th:block>

                </div>
            </div>

            <div class="carousel-item">
                <div class="d-block w-100 text-center" style="padding:50px">
                    <th:block th:each="review : ${reviewList2}">
                        <div class="text-left" width="300px" style="margin:25px; display:inline-block">
                            <!-- 썸네일 이미지 -->
                            <div th:if="*{#lists.isEmpty(uploadImage)}">
                                <img width="300px" height="240px" th:src="@{/images/no_image.png}"/>
                            </div>
                            <div th:unless="*{#lists.isEmpty(uploadImage)}">
                                <img width="300px" height="240px" th:src="@{${review.uploadImage[0].imagePath}}"/>
                            </div>

                            <p style="margin:0; padding:0; width: 300px">
                                <!-- 제목 -->
                                <a class="title-a" th:text="${review.postName}" href="#" style="font-size:24px; display:inline-block; margin:0; padding:0; width: 180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></a>

                                <!-- 별점 -->
                                <span th:if="${review.star} == 5" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                </span>
                                <span th:if="${review.star} == 0" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                </span>
                                <span th:if="${review.star < 5 && review.star > 0}" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <th:block th:each="num : ${#numbers.sequence(1,review.star)}">
                                        <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    </th:block>
                                    <th:block th:each="num : ${#numbers.sequence(1, 5-review.star)}">
                                        <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    </th:block>
                                </span>
                            </p>

                            <!-- 주소 -->
                            <p style="margin:0; padding:0">
                                <span th:text="${review.address}" style="font-size:16px; color:#808080; margin:0; padding:0; display:block; width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></span>
                            </p>

                            <!-- 한줄평 -->
                            <p th:text="${review.comment}" style="font-size:18px; display:block; width: 300px; margin-top:5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>

                            <!-- 태그 -->
                            <p style="font-size:14px; width:300px; display:block; white-space: nowrap; overflow: hidden;">
                                <th:block th:each="tag : ${review.tags}">
                                    <span th:text="${tag.tagName}" style="padding:4px; border-radius:6px; background-color:#E2E2E2"></span>&nbsp;
                                </th:block>
                            </p>
                        </div>
                    </th:block>

                </div>
            </div>

            <div class="carousel-item">
                <div class="d-block w-100 text-center" style="padding:50px">
                    <th:block th:each="review : ${reviewList3}">
                        <div class="text-left" width="300px" style="margin:25px; display:inline-block">
                            <!-- 썸네일 이미지 -->
                            <div th:if="*{#lists.isEmpty(uploadImage)}">
                                <img width="300px" height="240px" th:src="@{/images/no_image.png}"/>
                            </div>
                            <div th:unless="*{#lists.isEmpty(uploadImage)}">
                                <img width="300px" height="240px" th:src="@{${review.uploadImage[0].imagePath}}"/>
                            </div>

                            <p style="margin:0; padding:0; width: 300px">
                                <!-- 제목 -->
                                <a class="title-a" th:text="${review.postName}" href="#" style="font-size:24px; display:inline-block; margin:0; padding:0; width: 180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></a>

                                <!-- 별점 -->
                                <span th:if="${review.star} == 5" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                </span>
                                <span th:if="${review.star} == 0" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                </span>
                                <span th:if="${review.star < 5 && review.star > 0}" style="display:inline-block; margin-top:3px; margin-bottom:3px" class="float-right">
                                    <th:block th:each="num : ${#numbers.sequence(1,review.star)}">
                                        <img th:src="@{~/images/star_yellow.svg}" width="20px" height="20px">
                                    </th:block>
                                    <th:block th:each="num : ${#numbers.sequence(1, 5-review.star)}">
                                        <img th:src="@{~/images/star.svg}" width="20px" height="20px">
                                    </th:block>
                                </span>
                            </p>

                            <!-- 주소 -->
                            <p style="margin:0; padding:0">
                                <span th:text="${review.address}" style="font-size:16px; color:#808080; margin:0; padding:0; display:block; width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></span>
                            </p>

                            <!-- 한줄평 -->
                            <p th:text="${review.comment}" style="font-size:18px; display:block; width: 300px; margin-top:5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></p>

                            <!-- 태그 -->
                            <p style="font-size:14px; width:300px; display:block; white-space: nowrap; overflow: hidden;">
                                <th:block th:each="tag : ${review.tags}">
                                    <span th:text="${tag.tagName}" style="padding:4px; border-radius:6px; background-color:#E2E2E2"></span>&nbsp;
                                </th:block>
                            </p>
                        </div>
                    </th:block>

                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="text-center">
        <!-- 커뮤니티 인기글 목록 부분 -->
        <div class="text-left" style="width:550px; display:inline-block; margin:25px">
            <h3>커뮤니티 인기글</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                    <th scope="col">좋아요</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="community : ${communityList}">
                    <td><a class="title-a" th:text="${community.postName}" style="display:inline-block; width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" href="#"></a></td>
                    <td th:text="${community.hit}"></td>
                    <td th:text="${community.likeCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 자취방꿀팁 게시글 목록 부분 -->
        <div class="text-left" style="width:550px; display:inline-block; margin:25px">
            <h3>자취방 꿀팁</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                    <th scope="col">좋아요</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tip : ${communityTipList}">
                    <td><a class="title-a" th:text="${tip.postName}" style="display:inline-block; width:300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" href="#"></a></td>
                    <td th:text="${tip.hit}"></td>
                    <td th:text="${tip.likeCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>